* {
	-webit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

.title {
	color:#fff;
	background: #33BEBE;
	padding: 40px 20px 5px 20px;
	text-transform: uppercase;
}

.screenshot {
	max-width: 400px;
	margin-right: 20px;
}

.app {
	display: -webkit-flex;
	display: flex;
}

.description {
	max-width:705px;
	font-size:16px;
	line-height:1.3em;
	color:#7C8B88;
}